__pycache__/
*.pyc
.idea/
*.xlsx
XYZMutualFund/
JEFiles/
XTemp/
build/
funds/
*.pkl
processing.log
*.log
venv/
myenv/
venv/
__pycache__/
*.pyc
*.pyd
.idea/
*.xlsx
*.docx
*.zip
*.exe
*.pyz
*.pkg
funds/
*.pkl
JEFiles/
XYZMutualFund/
XTemp/
build/
dist/
configs/
marketing/
aggregated_reports/
chest_s1/
chest_s2/
excel_gui/
gui_data/
processing.log
*.log
*.txt.tmp
~$*
_archive/
financial_information_gateway - Copy/
refdata/chest/*.csv
*.csv
reports/refdata/
test_reports/
*.csv
*.json
*.exe
*.pkl
*.log
kivygui.dist/
kivygui.dist - Copy/
kivygui.dist - Copy (2)/
JEFiles/
Scaled_*.csv
refdata - Copy*/